/* Anything done here is to the creator's prefer and to make the site look how they want. */

body
{
    /* There was a weird bottom scrollbar that seem to appear for almost no reason, this hides everything that is overflowed. Thanks to https://github.com/twbs/bootstrap/issues/10711#issuecomment-26223067 for the help to do this. */
    overflow-x: hidden;
}

/* Making a video inside the embed-responsive bootstrap class to not take up the full size of the screen */
.embed-responsive
{
    width: 60% !important;
}

/* If the screen is no smaller than 576px */
@media (max-width: 576px)
{
    /* in class of col-sm-12 then make sure image takes full width. Huge thanks to https://stackoverflow.com/a/52406502 for the guidance in this.  */
    .col-sm-12
    {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

/* Making sure what is written into bootstrap isn't doing what I want it to do on any device bigger than a mobile device*/
@media (min-width: 576px)
{
    /* If in class of col-sm-12 then make sure image isn't full width */
    .col-sm-12
    {
        flex: 0 0 0 !important;
    }

    /* If in class of col-4 then make sure that it only takes up 33% of the screen */
    .col-4
    {
        flex: 0 0 33.333333% !important; 
    }
}

/* For anything on a mobile-size device */
@media (max-width: 576px)
{
    .embed-responsive
    {
        width: 100% !important;
    }
}

.nav-link, .navbar-brand
{
    color: #ffffff !important;
}